<nav class="navbar navbar-light p-1" style="background-color: #e3f2fd">
  <div class="container d-flex align-items-center justify-content-between">
    <a class="navbar-brand d-flex align-items-center" routerLink="">
      <img
        src="assets/images/shop.png"
        class="d-block"
        alt="..."
        style="height: 50px"
      />
      <h1
        style="
          font-size: 20px;
          font-weight: 800;
          padding-left: 15px;
          text-transform: none;
          color: blue;
        "
      >
        My store
      </h1>
    </a>
    <div class="" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex flex-row align-items-center fw-bold">
        <li class="nav-item active px-4">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item active px-4" *ngIf="!isUser">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item active px-4" *ngIf="!isUser">
          <a class="nav-link" routerLink="register">Register</a>
        </li>
        <li class="nav-item active px-4" *ngIf="isUser">
          <a class="nav-link" routerLink="profil">Profil</a>
        </li>
        <li class="nav-item active px-4" *ngIf="isUser">
          <a class="nav-link" routerLink="products">Products</a>
        </li>
        <li class="nav-item active px-4" *ngIf="isUser">
          <a class="nav-link" routerLink="myproducts">My Products</a>
        </li>
      </ul>
    </div>
    <a class="btn btn-danger fw-bold" *ngIf="isUser" (click)="logout()"
      >Logout</a
    >
  </div>
</nav>
