<div class="container">
  <h1 *ngIf="isUser && fullName" class="fs-4 fw-bolder my-4">
    Welcome {{ fullName }}
  </h1>
  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('assets/images/banner.jpg');
      height: 400px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    "
  >
    <div class="mask">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <div class="d-flex align-items-center">
            <a
              class="nav-link btn active btn-success text-white"
              *ngIf="!isUser"
              routerLink="login"
              >Login</a
            >
            <a
              class="nav-link btn btn-primary text-white"
              routerLink="register"
              *ngIf="!isUser"
              >Register</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
